
  /*
 grocery style
*/

/*variables*/
:root {
	--righteous-font: 'Righteous', cursive;
}

body {
	
background-image: url("https://wallpaperaccess.com/full/557522.jpg");
    
    z-index: -10;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.3rem;		    
}

.hero {
	position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    bottom: 0;
    background-color: rgba(31, 34, 118, 0.5);
}



h1 {

	margin-bottom: 0px;
	padding-bottom: 0px;
	font-family: var(--righteous-font);
}

.lead {
	font-size: 1.5rem;
	font-family: var(--righteous-font);
}
ul {
	/*border-top: 2px solid white;*/
	margin-top: 2rem;
	list-style: none;
	/*display: none;*/
}


nav{
      background: rgba(0, 0, 0, 0.2);
    
  }

  label{
      color:white;
  }

  input{
      color:white;
  }

.list{

    text-align: left;
}


  .box{
	width: 450px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	margin: auto;
	margin-top: 1%;
	color: white;
	font-family: 'Century Gothic',sans-serif;	
}

