.login {
    margin-top: 5%;

}


main {
    flex: 1 0 auto;
}

body {
    background-image: url("https://wallpaperaccess.com/full/557522.jpg"); 
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.3rem;
    display: flex;
    min-height: 100vh;
    flex-direction: column;


}

/* label focus color */
.input-field input:focus + label {
    color:  #d32f2f  !important;
  }
  /* label underline focus color */
  .row .input-field input:focus {
    border-bottom: 1px solid #d32f2f  !important;
    box-shadow: 0 1px 0 0 #d32f2f  !important
  }
  
  [type="text"]{
    color:#d32f2f ;
  }

.carousel-item>h2 {
    text-emphasis: bold;
    text-align: center;
}

.carousel-item>li {
    margin-left: 10%;
    margin-top: 10%;


}

nav {

    background: rgba(0, 0, 0, 0.2);

}

.user-slider {
    margin-top: 10%;
}
