.login {
    margin-top: 5%;

}


main {
    flex: 1 0 auto;
}

body {
    background: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.3rem;
    display: flex;
    min-height: 100vh;
    flex-direction: column;


}


.carousel-item>h2 {
    text-emphasis: bold;
    text-align: center;
}

.carousel-item>li {
    margin-left: 10%;
    margin-top: 10%;


}

nav {

    background: rgba(0, 0, 0, 0.2);

}

.user-slider {
    margin-top: 10%;
}