nav{
    
    background: rgba(0, 0, 0, 0.2);

  }

body{
  
    background-image: url("https://wallpaperaccess.com/full/557522.jpg");
   
    background-repeat: no-repeat;
    background-size: cover;
    
}


#searchBar{
    color : rgba(255, 255, 255, 0.7);
    font-size: 22px;
    border-bottom: 2px solid;
}

.bar{
    margin-top: 5%;
    color : rgba(255, 255, 255, 0.1);
}

nav ul li.active {
    background-color: rgba(111, 79, 172, 0.1);
  }

