
body {
	
	background-image: url("https://wallpaperaccess.com/full/557522.jpg");
    
    z-index: -10;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.3rem;	    
} 
  nav{
    
    background: rgba(0, 0, 0, 0.2);

  }
  
  .parallax-container {
    height: 80vh;
  }
  

  
  
  

.bmr-card{
  width:200px;
}
